
@mixin lato(){
	font-family: 'Lato', sans-serif;
}
@mixin bigfont(){
    //font-family: 'big_johnregular';
    @include lato();
    text-transform: uppercase;
    font-weight: 900;
    font-size: (42/22) * 1em;
}
@mixin fontawesome(){
	font-family: FontAwesome;
}
@mixin ionic(){
	font-family: Ionicons;
}