
//- Extend the skeleton
extends _layout

//- Layout options
block options
	- var headerback = 'img/header2.jpg'

//- Page meat
block body
	section
		.container
			.row(data-transition="slideUpIn"): .col-md-8.col-md-push-2
				h2 Alla blogginlägg
				each blog in blogs
						a.blogs(style="background-image: url(#{blog['image']});", href="#{blog['url']}")
							span.blog-pretext= blog['date']
							| #{blog['title']}