
//- Extend the skeleton
extends _layout

//- Set layout options
block options
	- var headerback = 'img/header2.jpg'

//- Page meat
block body

	section
		.container
			.row(data-transition="slideUpIn"): .col-md-8.col-md-push-2
				h2 Alla blogginlägg

				div
					a.button.margin-bottom(href="https://github.com/AlbinHolmlund", target="_blank") Github #[i.fa.fa-angle-double-right]
					a.button.margin-bottom(href="om-mig.html") Om mig #[i.fa.fa-angle-double-right]

				each blog in blogs
						a.blogs(style="background-image: url(#{blog['image']});", href="#{blog['url']}")
							span.blog-pretext= blog['date']
							| #{blog['title']}