
//- Extend the skeleton
extends _layout

//- Page meat
block body
	section
		.container
			.row.entry(data-transition="slideUpBigIn"): .col-md-8.col-md-push-2
				:markdown
					##Testsida

					Test 123.