
//- Extend the skeleton
extends _bloglayout

block options
	- var headerback = blogs['webb-om-fem']['image']
	- var title = blogs['webb-om-fem']['title']
	- var date = blogs['webb-om-fem']['date']

	- var next = blogs['hittamat']

block content
	:markdown
		*Jag kommer att diskutera kring animationsdesign, mobiler och hur de kan ha utvecklats om fem år, då det är animation som ligger mig närmast hjärtat.*
		
		**Jag har två teorier kring hur webben kommer att se ut i framtiden.** Det hållet jag vill att utvecklingen ska gå emot är fler stilrena animationer, mer kreativ och lekfull design, och helt enkelt en roligare webb för oss webbdesigners, en webb där man blir imponerad gång på gång av vad som går att göra med lite html, css och javascript. En webb som den man kan se på [awwwards](http://www.awwwards.com/ "Awwwards") och [css design awards](http://cssdesignawards.com/ "CSS Design Awards"). 

		**Min andra teori är den mer troliga, även om den föregående är min önskan.** 
		Med åren har vi blivit mer och mer mobila och mindre och mindre stationära. Mina föräldrar till exempel använder inte ens datorer längre, endast surfplattor och smartphones. Den här teorin medföljer en dystopisk värld  där vi har gått ifrån statiska hemsidor till dynamiska och rörliga hemsidor för att sedan degenerera tillbaka till version 1.0. Jag är ett stort fan av animation i design, när det är gjort på rätt sätt; inte när allt på en sida hoppar och studsar runt så fort du går in på hemsidan, det måste följa ett tema. Men som alla interaktion-/animationsdesigners vet så får man oftast stänga av det när det kommer till mobil. Det är detta som medför den teorin.

		**Det finns ännu hopp dock!** Jag har en hybridteori som är en blandning av dessa två teorier. I samma takt som smartphones och ios-/androidwebbläsare blir bättre så blir självklart också stödet för animationer o.s.v. bättre. Man får inte glömma att i stort sett alla smartphones har bra stöd för animation i deras nativa appar. Det är bara webben som har halkat efter.

		**Det finns flera relativt nya frameworks** som försöker handskas med att föra webben och native närmare varandra. Ett sådant framework är Ionic; ett app framework som simulerar native för både android och ios med webbspråk. Jag har testat att besöka en Ionic app vid ett par tillfällen, vid båda tillfällena så har resultatet varit likt det av en native app. Om detta utvecklas vidare så kan det spara programmerare mycket tid då de kan utveckla för både android och ios på en gång, istället för att behöva göra processen två gånger med Objective-C/Swift och Java.
